<ion-view>
  <ion-nav-view name="loginContent"></ion-nav-view>
  <!--<ion-header-bar>-->
  <!--<h1 class="title">登录</h1>-->
  <!--</ion-header-bar>-->
  <ion-content class="has-header">
    <div class="login-img">
      <img src="img/logo/logo.png"/>
    </div>
    <form ng-submit="login()">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-android-person"></i>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <i class="icon ion-ios-unlocked"></i>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="">
          <button class="button button-block button-positive" type="submit">登录</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
