<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <!--<ion-header-bar class="expanded-header">-->
    <!--<img src="img/logo/logo.png"/>-->
    <!--<div class="expanded-bottom" ng-bind="menuData.username">-->
    <!--&lt;!&ndash;PhonePos&ndash;&gt;-->
    <!--</div>-->
    <!--</ion-header-bar>-->
    <ion-content class="menu-left-main">
      <div class="expanded-header">
        <img src="img/logo/logo.png"/>
        <div class="expanded-bottom" ng-bind="menuData.username">
          <!--PhonePos-->
        </div>
      </div>
      <ion-list>
        <ion-item menu-close ui-sref="menu.trade">
          销售
        </ion-item>
        <ion-item menu-close ui-sref="menu.query">
          查询
        </ion-item>
        <ion-item menu-close ui-sref="menu.returns">
          退货
        </ion-item>
        <ion-item menu-close ui-sref="menu.dayover">
          日结
        </ion-item>
        <div class="menu-item">
          <div menu-close ui-sref="menu.setting" class="menu-item-setting">
            <i class="icon ion-gear-a"></i>
            设置
          </div>
          <div menu-close ng-click="logout()" class="menu-item-logout">
            <i class="icon ion-log-out"></i>
            退出
          </div>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
