<ion-tabs class="tabs-icon-top tabs-color-active-balanced">
  <ion-tab title="个人设置" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="setting.person">
    <ion-nav-view name="settingPersonContent"></ion-nav-view>
  </ion-tab>
  <ion-tab title="系统设置" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="setting.system">
    <ion-nav-view name="settingSystemContent"></ion-nav-view>
  </ion-tab>
  <ion-tab title="应用信息" icon-on="ion-ios-navigate" icon-off="ion-ios-navigate-outline" ui-sref="setting.app">
    <ion-nav-view name="settingAppContent"></ion-nav-view>
  </ion-tab>
</ion-tabs>
