<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">支付</h1>
    <a class="button" ng-click="closeTradePay()">关闭</a>
  </ion-header-bar>
  <ion-content>
    <div class="trade-info">
      流水号：
      <span class="trade-number" ng-bind="tradeData.order"></span>
      <br>
      顾客类型：
      <span class="trade-number" ng-bind="tradeData.customer"></span>
    </div>
    <div class="trade-main">
      <div class="padding-bottom trade-item trade-title">
        <div class="trade-pay-item-no">序号</div>
        <div class="trade-pay-item-code">支付编码</div>
        <div class="trade-pay-item-name">支付名称</div>
        <div class="trade-pay-item-price">支付金额</div>
      </div>
      <ion-list show-delete="tradeData.deletePay">
        <ion-item class="trade-list-item" ng-repeat="p in tradeData.pay">
          <div class="padding-bottom trade-item">
            <div class="trade-pay-item-no">{{p.no}}</div>
            <div class="trade-pay-item-code">{{p.code}}</div>
            <div class="trade-pay-item-name">{{p.name}}</div>
            <div class="trade-pay-item-price">{{p.total}}</div>
            <ion-delete-button class="ion-minus-circled button-delete" ng-click="tradeDeletePayItem(p)">
            </ion-delete-button>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div class="trade-info trade-pay-info trade-pay-info-1">
      <div class="trade-pay-total">
        应付：
        <span class="trade-total" ng-bind="tradeData.total"></span>
        元
      </div>
      <div class="trade-pay-haspay">
        已付：
        <span class="trade-haspay" ng-bind="tradeData.hasPay"></span>
        元
      </div>
    </div>
    <div class="trade-info trade-pay-info trade-pay-info-2">
      <div class="trade-pay-nopay">
        未付：
        <span class="trade-nopay" ng-bind="tradeData.noPay"></span>
        元
      </div>
      <div class="trade-pay-change">
        找零：
        <span class="trade-change" ng-bind="tradeData.change"></span>
        元
      </div>
    </div>
    <div class="pay-mode">
      <div ng-repeat="pm in tradeData.payMode">
        <button class="button button-positive button-pay-mode" ng-click="tradePayMode(pm)">{{pm.payname}}</button>
      </div>
    </div>
    <div class="pay-operation">
      <button class="button button-balanced button-endpay" ng-click="tradeEndPay()">完成支付</button>
      <button class="button button-positive button-deletepay" ng-click="tradeDeletePay()">删除支付</button>
      <button class="button button-positive button-clearpay" ng-click="tradeClearPay()">清空订单</button>
    </div>
  </ion-content>
</ion-modal-view>
