/**
login.html
 */
.login-img {
  text-align: center;
}

.login-img img {
  height: 30%;
  width: 30%;
}

/**
menu.html
 */
.menu.menu-left * {
  /*font-weight: bold;*/
}

.expanded-header {
  height: 25%;
  background-image: url("../img/menu/background.jpg");
  background-size: 120%;
  background-position: 0;
  transition: all .5s ease-in-out;
}

.expanded-header img {
  margin-left: 5%;
  margin-top: 5%;
  height: 50%;
  background: none;
}

.expanded-bottom {
  /*font-weight: bold;*/
  margin-top: 45%;
  margin-left: -30%;
  height: 10%;
  width: 100%;
  font-size: 1.3em;
  color: #fff;
  background: none;
}

.menu-left-main {
  margin-top: 40%;
}

.menu-left-main .item .item-content {
  font-size: 1.1em;
}

.menu-open .ion-navicon {
  transform: rotate(-360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
  content: "\f2ca";
}

.menu-item {
  margin-top: 85%;
  display: flex;
  padding: 0 10%;
  font-size: 1.3em;
}

.menu-item-setting,
.menu-item-logout {
  flex: 1;
}

/**
trade.html
trade-*.html
 */
.trade-info {
  width: 100%;
  color: #fff;
  background-color: #387ef5;
  padding: 12px;
  font-size: 1.2em;
}

.trade-main {
  width: 100%;
  height: 50%;
  padding: 8px;
  overflow: scroll;
}

.trade-main .trade-title {
  font-size: 1.1em;
}

.trade-list-item {
  padding: 0;
  border: 0 solid #fff;
  color: #000;
}

.trade-list-item .item-content {
  padding: 0;
}

.trade-item {
  display: flex;
}

.trade-item-no,
.trade-item-price,
.trade-item-number,
.trade-item-total,
.trade-pay-item-no {
  flex: 1;
}

.trade-item-code,
.trade-item-name,
.trade-pay-item-code,
.trade-pay-item-name,
.trade-pay-item-price {
  flex: 3;
}

.trade-list-item .button-delete {
  min-height: 24px;
  max-height: 24px;
  padding: 0;
  border: 0 solid #fff;
}

.trade-list-item .button-delete:before,
.trade-list-item .button-delete:after {
  font-size: 24px;
  padding: 0;
}

.button-group {
  margin-bottom: 40px;
}

.trade-total,
.trade-haspay,
.trade-nopay,
.trade-change {
  font-size: 1.5em;
}

.trade-nopay {
  color: #ff3b30;
}

.button-total {
  width: 49%;
  float: left;
}

.button-confirm {
  width: 49%;
  float: right;
}

.button-vip {
  width: 32%;
  float: left;
  margin-right: 2%;
}

.button-clearline {
  width: 32%;
}

.button-clearall {
  width: 32%;
  float: right;
}

.commodity-info {
  height: 34px;
  font-size: 14px;
  line-height: 16px;
}

.commodity-number {
  float: left;
}

.popup-container .commodity-input {
  width: 50%;
  margin-top: -10px;
}

.pay-mode {
  width: 70%;
  float: left;
  background-color: #eee;
}

.trade-pay-info {
  display: flex;

}

.trade-pay-info .trade-pay-total,
.trade-pay-info .trade-pay-haspay,
.trade-pay-info .trade-pay-nopay,
.trade-pay-info .trade-pay-change {
  flex: 1;
}

.trade-pay-info-1 {
  padding-bottom: 4px;
}

.trade-pay-info-2 {
  padding-top: 4px;
}

.button-pay-mode {
  width: 32%;
  float: left;
  margin: 0.66%;
}

.pay-operation {
  width: 30%;
  float: right;
}

.button-endpay,
.button-deletepay,
.button-clearpay {
  width: 98%;
  margin: 1%;
}

/**
returns.html
returns-*.html
 */
.returns-blank {
  height: 30%;
}

.button-returns {
  width: 50%;
}

.returns-order {
  width: 100%;
  height: 50%;
}

.returns-order .trade-main {
  height: 100%;
  overflow: scroll;
}

/**
query.html
 */
.query-blank {
  height: 30%;
}

.button-query {
  width: 47%;
}

.button-commodity {
  width: 31%;
}

.query-order {
  width: 100%;
  height: 50%;
}

.query-order .trade-main {
  height: 100%;
  overflow: scroll;
}

.query-commodity {
  height: 55%;
  overflow: scroll;
}

.commodity-item {
  display: flex;
}

.commodity-code,
.commodity-name {
  flex: 3;
}

.commodity-price,
.commodity-vipprice,
.commodity-inventory,
.commodity-present,
.commodity-remark {
  flex: 2;
}

/**
dayover.html
 */
.dayover {
  font-size: 1.2em;
}

.dayover-info {
  width: 100%;
  color: #fff;
  background-color: #387ef5;
  padding: 12px;
  font-size: 1.2em;
}

.dayover-main {
  width: 100%;
  height: 70%;
  overflow: scroll;
}

.dayover-item {
  display: flex;
}

.dayover-item-pay,
.dayover-item-total {
  flex: 1;
}

.dayover-total {
  font-size: 1.2em;
}

.button-dayover {
  width: 50%;
  float: right;
}

/**
setting-*.html
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.feedback-problem {
  height: 10em;
  resize: none;
}
