/**
trade.html
trade-*.html
 */
.trade-info {
  width: 100%;
  color: #fff;
  background-color: #4b8bf4;
}

.trade-main {
  width: 100%;
  height: 50%;
  overflow: scroll;
}

.trade-list-item {
  padding: 0;
  border: 0 solid #fff;
  color: #000;
}

.trade-list-item .item-content {
  padding: 0;
}

.trade-item {
  display: flex;
}

.trade-item-no,
.trade-item-price,
.trade-item-number,
.trade-item-total,
.trade-pay-item-no {
  flex: 1;
}

.trade-item-code,
.trade-item-name,
.trade-pay-item-code,
.trade-pay-item-name,
.trade-pay-item-price {
  flex: 3;
}

.trade-list-item .button-delete {
  min-height: 24px;
  max-height: 24px;
  padding: 0;
  border: 0 solid #fff;
}

.trade-list-item .button-delete:before,
.trade-list-item .button-delete:after {
  font-size: 24px;
  padding: 0;
}

.trade-total,
.trade-haspay,
.trade-nopay,
.trade-change {
  font-size: 1.5em;
}

.trade-nopay {
  color: #ff3b30;
}

.button-total {
  width: 49%;
  float: left;
}

.button-confirm {
  width: 49%;
  float: right;
}

.button-vip {
  width: 32%;
  float: left;
  margin-right: 2%;
}

.button-clearline {
  width: 32%;
}

.button-clearall {
  width: 32%;
  float: right;
}

.commodity-info {
  height: 34px;
  font-size: 14px;
  line-height: 16px;
}

.commodity-number {
  float: left;
}

.popup-container .commodity-input {
  width: 50%;
  margin-top: -10px;
}

.pay-mode {
  width: 70%;
  float: left;
  background-color: #eee;
}

.trade-pay-info {
  display: flex;
}

.trade-pay-info .trade-pay-total,
.trade-pay-info .trade-pay-haspay,
.trade-pay-info .trade-pay-nopay,
.trade-pay-info .trade-pay-change {
  flex: 1;
}

.button-pay-mode {
  width: 32%;
  float: left;
  margin: 0.66%;
}

.pay-operation {
  width: 30%;
  float: right;
}

.button-endpay,
.button-deletepay,
.button-clearpay {
  width: 98%;
  margin: 1%;
}

/**
returns.html
returns-*.html
 */
.returns-blank {
  height: 30%;
}

.button-returns {
  width: 50%;
}

.returns-order {
  width: 100%;
  height: 50%;
}

.returns-order .trade-main {
  height: 100%;
  overflow: scroll;
}

/**
query.html
 */
.query-blank {
  height: 30%;
}

.button-query {
  width: 47%;
}

.button-commodity {
  width: 31%;
}

.query-order {
  width: 100%;
  height: 50%;
}

.query-order .trade-main {
  height: 100%;
  overflow: scroll;
}

.query-commodity {
  height: 70%;
  overflow: scroll;
}

.commodity-item {
  display: flex;
}

.commodity-code,
.commodity-name {
  flex: 3;
}

.commodity-price,
.commodity-vipprice,
.commodity-inventory,
.commodity-present,
.commodity-remark {
  flex: 2;
}

/**
dayover.html
 */
.dayover {
  font-size: 1.2em;
}

.dayover-info {
  width: 100%;
  color: #fff;
  background-color: #4b8bf4;
}

.dayover-main {
  width: 100%;
  height: 70%;
  overflow: scroll;
}

.dayover-item {
  display: flex;
}

.dayover-item-pay,
.dayover-item-total {
  flex: 1;
}

.dayover-total {
  font-size: 1.2em;
}

.button-dayover {
  width: 50%;
  float: right;
}

/**
setting-*.html
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.feedback-problem {
  height: 10em;
  resize: none;
}
